.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}
.box{
  padding: 50px;
  border: 1px solid #000;
  width: 25%;
}

.add{
  background: transparent;
  height: 100px;
  width: 100px;
  font-size: 40px;
}

.sub{
  background: transparent;
  height: 100px;
  width: 100px;
  font-size: 40px;
}

span{
  margin: 50px;
  font-size: 40px;
}

.reset{
  background: transparent;
  height: 100px;
  width: 350px;
  margin-top: 25px;
  font-size: 40px;
}
